---
import config from "@configuration/config.json" assert { type: "json" };
const { avatarLocation, name, profession, contact, social } = config.heroBio;
---

<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src={avatarLocation} alt={name} width="80" />
    </figure>

    <div class="info-content">
      <h1 class="name" title={name}>{name}</h1>

      <p class="title">{profession}</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      {
        contact.map((item) => (
          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name={item.ionIcon} />
            </div>

            <div class="contact-info">
              <p class="contact-title">{item.title}</p>

              <a href={item.hrefPrefix + item.link} class="contact-link">
                {item.link}
              </a>
            </div>
          </li>
        ))
      }
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      {
        social.map((element) => (
          <li class="social-item">
            <a href={element.href} class="social-link">
              <ion-icon name={"logo-" + element.id} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
